# ignore doom2 wad - shouldn't be sharing this lol
doom2.wad

###########################
## Ultimate Doom Builder ##
###########################

# ignore .wad.backup# files (# = backup number)
*.wad.backup*

# .dbs config files
*.dbs

###########
## Slade ##
###########

# ignore slade .wad.bak files
*.wad.bak
